.btn-brillante {
        animation: pulse-border 1.5s infinite;
        transform: scale(1.2);
        z-index: 50;
    }

    @keyframes pulse-border {
        0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); border-radius: 50%; }
        70% { box-shadow: 0 0 0 15px rgba(255, 255, 255, 0); border-radius: 50%; }
        100% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); border-radius: 50%; }
    }