    /* Corrección de legibilidad para selectores en modo oscuro */
    select option {
        background-color: #0f172a !important; /* slate-900 */
        color: #ffffff !important;
    }
    /* Estilo para que el selector se vea premium en móviles */
    .select-custom {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%2394a3b8' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
        background-position: right 0.75rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        padding-right: 2.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

/* Evita que el móvil intente seleccionar texto mientras tocas las tarjetas */
.select-none {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.sortable-ghost {
    opacity: 0.3;
    transform: scale(0.9);
    filter: grayscale(1);
}

.animate-bounce-short {
    animation: bounce 0.5s ease-in-out 1;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}


@keyframes shake-attention {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-2px); }
  20%, 40%, 60%, 80% { transform: translateX(2px); }
}

.animate-shake {
  animation: shake-attention 2s infinite;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0ea5e9;
    border-radius: 10px;
}
.color-scheme-dark {
    color-scheme: dark;
}





.reserva-bloqueada {
    background-color: #f1f5f9 !important; /* Gris claro */
    border-left: 4px solid #10b981 !important; /* Verde */
    cursor: not-allowed !important;
    user-select: none;
}
.reserva-bloqueada .tarjeta-contenido {
    pointer-events: none; /* Bloquea clics internos */
}